<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{padding: 0; margin: 0; box-sizing: border-box;}
        .top{background: #0f5288; color: #fff; text-align: center; padding: 15px;}
    </style>
</head>
<body>
    <div class="top">
        <div>
            <img width="150px" src="deg-logo.png" alt="">
        </div>
    </div>
    <div class="header">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</body>
</html>